body {
font-family: 'roboto', sans-serif;
}

.list {
list-style: none;
}

.link {
    text-decoration: none;
} 

/* ----------------------- HEADER */

/* .header {
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
} */

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.header-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    color: #434455;
    
}
.header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    color: #434455;
    
}

/*---------------------- HERO */

.hero {
    background-color: #2E2F42;
}
.hero-header {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
    
        text-align: center;
        letter-spacing: 0.02em;
    
        color: #FFFFFF;
}
.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}

/* --------------------------- FEATURES */

/* .features {} */

.features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    
        letter-spacing: 0.02em;
        color: #2E2F42;
}

/* .features-list-item {

} */

.features-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    
        color: #2E2F42;
}

.features-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
        color: #434455;
}

.work {}

.work-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    
        color: #2E2F42;
}

.work-list {}

.work-list-item {}


.team {}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    
        color: #2E2F42;
}

.team-list {}

.team-list-item {}

.team-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 0.83;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: #2E2F42;
}

.team-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
        color: #E7E9FC;
}