body {
font-family: 'roboto', sans-serif;
}

.list {
list-style: none;
}

.link {
    text-decoration: none;
}

/*.header {
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}
*/
.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    color: #434455;
    
}
.header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    color: #434455;
    
}
.hero {
}
.hero-header {
}
.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}